{% extends "base.html" %}

{% block title %}
    Register page
{% endblock %}

{% block body %}
Register page! 

{% if message %}
<div>
    <h1> {{message}}</h1>  
    </div>
{% endif %}
<form action="{% url 'register' %}" method="POST">
    {% csrf_token %}
    <input name='first' placeholder="first name" type="text"/>
    <input name='last' placeholder="last name" type="text"/>
    <input name='email' placeholder="email" type='email'>
    <input name='username' placeholder="username" type="text"/>
    <input name='password' placeholder="password" type="password"/>
    <input name='conf_password' placeholder="confirm password" type="password"/>
    <input name='login' type="submit"   value="Login"/>

</form>

{% endblock %}